<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.crud_encuesta">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Proy Aplicacion"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SubMenuEncuestaActivity"></activity>
        <activity
            android:name=".Componentes_EL.Materia.MateriaUsersActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SubMenuMateriaActivity" />
        <activity android:name=".Componentes_AP.Activities.PensumMateriaActivity" />
        <activity android:name=".Componentes_AP.Activities.PensumActivity" />
        <activity android:name=".Componentes_MT.Intento.VerIntentoActivity" />
        <activity android:name=".Componentes_MT.Intento.IntentoActivity" />
        <activity
            android:name=".Componentes_MT.ClaveArea.VerAreasActivity"
            android:label="ClaveArea"/>
        <activity
            android:name=".Componentes_EL.Encuesta.EncuestaActivity"
            android:label="@string/title_activity_encuesta"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Componentes_EL.Materia.MateriaActivity"
            android:label="@string/title_activity_materia"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Componentes_MT.Clave.ClaveActivity"
            android:label="@string/mt_clave"/>
        <activity android:name=".Componentes_AP.Activities.TurnoActivity" />
        <activity android:name=".Componentes_AP.Activities.EvaluacionActivity" />
        <activity android:name=".Componentes_AP.Activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Componentes_EL.Carrera.CarreraActivity"
            android:label="@string/title_activity_carrera"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Componentes_EL.Escuela.EscuelaActivity"
            android:label="@string/title_activity_escuela"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Componentes_MR.Docente.ActivityDocente" />
        <activity android:name=".Componentes_MR.Estudiante.ActivityEstudiante" />
        <activity android:name=".Componentes_MR.MateriaCiclo.ActivityMateriaCiclo" />
        <activity
            android:name=".Componentes_MT.Area.AreaActivity"
            android:label="@string/mt_area"/>
        <activity android:name=".Componentes_DC.Activities.OpcionActivity" />
        <activity android:name=".Componentes_DC.Activities.PreguntaActivity" />
        <activity android:name=".Componentes_DC.Activities.GpoEmpActivity" />
        <activity android:name=".MainActivity"></activity>
    </application>

</manifest>