<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.crud_encuesta">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Proy Aplicacion"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Componentes_AP.Activities.TurnoActivity"></activity>
        <activity android:name=".Componentes_AP.Activities.EvaluacionActivity" />
        <activity android:name=".Componentes_AP.Activities.LoginActivity" />
        <activity
            android:name=".Componentes_R.CarreraActivity"
            android:label="@string/title_activity_carrera"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Componentes_R.EscuelaActivity"
            android:label="@string/title_activity_escuela"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AreaActivity" />
        <activity android:name=".OpcionActivity" />
        <activity android:name=".PreguntaActivity" />
        <activity android:name=".GpoEmpActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>